<!-- views/index.ejs -->

<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
</head>
<body>
    <header>
        <div id="logo"><img src="images/logo.png">CarRental</div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/cars">Our cars</a>
                <li><a href="/rent">Rent a car</a>
                <li><a href="/rentals">Rented cars</a>
            </ul>
        </nav>
    </header>
    <section>
        <strong>Rented cars</strong>
    </section>
    <section id="pageContent">
        <article>

        </article>
    </section>
</body>
</html>

